<div class="gallery">
    <div class="gallery__container">
        <div class="gallery__flex">
            <div class="gallery__title">Наши работы:</div>

            <div class="gallery__filter" #filterRoot>
                <button
                    class="gallery__filter_button"
                    (click)="toggleFilter()">
                    Фильтр
                </button>
                <img 
                    class="gallery__filter_icon" 
                    src="icons/filter.svg" 
                    alt="" 
                    (click)="toggleFilter()"
                >

                <div class="gallery__filter_items" *ngIf="isOpenFilter">
                    <label
                        *ngFor="let filter of filters"
                        class="gallery__filter_items-item"
                        (click)="$event.stopPropagation()"
                    >
                        <input
                            type="checkbox"
                            [checked]="filter.isSelect"
                            (change)="onFilterChange(filter)"
                        />

                        {{ filter.name }}
                    </label>
                </div>
            </div>
        </div>

        <div class="gallery__items">
            <div class="gallery__items_item" *ngFor="let image of filteredImages">
                <img 
                    class="gallery__items_item-img" 
                    [src]="image.url" 
                >
                <div class="gallery__items_item-overlay" *ngIf="image.description">
                    <div class="gallery__items_item-text">{{image.description}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-contacts></app-contacts>
