<div class="bg">
<div class="container">
    <div class="service">
    

    <div class="service__cell">
        <div class="service__titles">
            <p class="service__title">Паркет</p>
            <div class="line"></div>
            <span class="service__subtitle">- монтаж штучного паркета,<br> &nbsp;&nbsp;массива, паркетной и<br> &nbsp;&nbsp;инженерной доски</span>
            <span class="service__subtitle">- изготовление геометрических<br> &nbsp;&nbsp;и художественных рисунков,<br> &nbsp;&nbsp;щитовой паркет</span>
            <span class="service__subtitle">- шлифовка и реставрация<br> &nbsp;&nbsp;паркета</span>
            <span class="service__subtitle">- браширование</span>
            <span class="service__subtitle">- тонирование</span>
            <span class="service__subtitle">- покрытие маслами,<br> &nbsp;&nbsp;акриловыми, алкидными<br> &nbsp;&nbsp;лаками</span>
        </div>
    </div>

    <div class="service__cell">
        <div class="service__titles">
            <p class="service__title">Лестница</p>
            <div class="line"></div>
            <span class="service__subtitle">- изготовление и монтаж<br> &nbsp;&nbsp;лестниц из твердых пород<br> &nbsp;&nbsp;дерева ясень, дуб и т.д.</span>
            <span class="service__subtitle">- покрытие - лак, тонировка,<br> &nbsp;&nbsp;эмаль, патина, гнутый поручень</span>
            <span class="service__subtitle">- монолитное основание,<br> &nbsp;&nbsp;металокаркас</span>
        </div>
    </div>

    <div class="service__cell">
        <div class="service__titles">
            <p class="service__title">Двери</p>
            <div class="line"></div>
            <span class="service__subtitle">- изготовление дверей из<br> &nbsp;&nbsp;массива, шпонированные, мдф</span>
            <span class="service__subtitle">- покрытие - лак, тонировка,<br> &nbsp;&nbsp;эмаль, патина</span>
            <span class="service__subtitle">- индивидуальный заказ</span>
        </div>
    </div>

    <div class="service__cell">
        <div class="service__titles">
            <p class="service__title">Изделия</p>
            <div class="line"></div>
            <span class="service__subtitle">- 2D, 3D изделия из дерева<br> &nbsp;&nbsp;декор украшения, картины,<br> &nbsp;&nbsp;часы и многое другое<br> &nbsp;&nbsp;по индивидуальным заказам</span>
        </div>
    </div>

    <div class="service__cell">
        <div class="service__titles">
            <p class="service__title">Установка плинтуса</p>
            <div class="line"></div>
            <span class="service__subtitle">- изготовление плинтуса<br> &nbsp;&nbsp;из массива, мдф, шпон</span>
            <span class="service__subtitle">- монтаж плинтуса из массива,<br> &nbsp;&nbsp;мдф, полиуретан, пластик, и т.д.</span>
        </div>
    </div>

    <div class="service__cell">
        <div class="service__titles">
            <p class="service__title">Мебель</p>
            <div class="line"></div>
            <span class="service__subtitle">- изготовление мебели<br> &nbsp;&nbsp;из массива, мдф, шпон</span>
            <span class="service__subtitle">- на заказ, мебель для<br> &nbsp;&nbsp;кафе, стиль лофт</span>
        </div>
    </div>

    <div class="service__cell">
        <div class="service__titles">
            <p class="service__title">Улица</p>
            <div class="line"></div>
            <span class="service__subtitle">- деревянный интерьер для<br> &nbsp;&nbsp;улицы: терассы, ограждения,<br> &nbsp;&nbsp;заборы, фасады, кашло, и т.д.</span>
            <span class="service__subtitle">- браширование</span>
            <span class="service__subtitle">- обработка древесины<br> &nbsp;&nbsp;антиплесень, защита от у/ф,<br> &nbsp;&nbsp;защита от воды</span>
        </div>
    </div>

    <div class="service__cell">
        <div class="service__titles">
            <p class="service__title">Сушка</p>
            <div class="line"></div>
            <span class="service__subtitle">- осушение влажных помещений</span>
            <span class="service__subtitle">- замер влажности помещений,<br> &nbsp;&nbsp;древесины</span>
        </div>
    </div>
</div>

</div>
</div>