<div class="bg">
    <div class="container">
        <div class="aboutus">
            <p class="aboutus__subtitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Компания EcoStyle уже много лет успешно занимается выполнением работ по дереву принося уют в ваши дома. Благодаря современному оборудованию и индивидуальному подходу в каждом заказе достигается качественный результат выполненных работ.</p>
            <p class="aboutus__subtitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Опыт, ответственность и добропорядочность. Мы поможем осуществить любые ваши дизайнерские идеи.</p>
        </div>
    </div>
</div>