  <div class="bgnav">
    <div class="nav">
      <div class="nav__logo_box">
        <img class="nav__logo_img" src="./assets/images/logo.jpg" alt="logo">
        <span class="nav__logo_title">EcoStyle</span>
      </div>
      <ul class="nav__ul">
        <li><a routerLink="/home" routerLinkActive="active">Главная</a></li>
        <li><a routerLink="/service" routerLinkActive="active">Услуги</a></li>
        <li><a routerLink="/gallery" routerLinkActive="active">Наши работы</a></li>
        <li><a routerLink="/production" routerLinkActive="active">Продукция</a></li>
        <li><a routerLink="/aboutus" routerLinkActive="active">О нас</a></li>
      </ul>
    </div>
  </div>

  <ng-sidebar-container style="overflow: hidden;">
    <ng-sidebar [opened]="opened" position="top">
      <ul class="burger__ul">
        <li (click)='toggleSidebar()' class="burger__li"><a routerLink="/home" routerLinkActive="active">Главная</a></li>
        <li (click)='toggleSidebar()' class="burger__li"><a routerLink="/service" routerLinkActive="active">Услуги</a></li>
        <li (click)='toggleSidebar()' class="burger__li"><a routerLink="/gallery" routerLinkActive="active">Наши работы</a></li>
        <li (click)='toggleSidebar()' class="burger__li"><a routerLink="/production" routerLinkActive="active">Продукция</a></li>
        <li (click)='toggleSidebar()' class="burger__li"><a routerLink="/aboutus" routerLinkActive="active">О нас</a></li>
      </ul>
    </ng-sidebar>
  
    <div ng-sidebar-content>
      <button (click)='toggleSidebar()' class="burger">
        <span [ngClass]="{'burger__line1': !opened, 'burger__line1_active': opened}"></span>
        <span [ngClass]="{'burger__line2': !opened, 'burger__line2_active': opened}"></span>
        <span [ngClass]="{'burger__line3': !opened, 'burger__line3_active': opened}"></span>
        <span [ngClass]="{'burger__line4': !opened, 'burger__line4_active': opened}"></span>
      </button>

      <router-outlet></router-outlet>
    </div>
  </ng-sidebar-container>