<div class="services">
    <div class="services__container">
        <div class="services__title">Мы предлагаем следующие виды услуг:</div>

        <div class="services__items">
            <div 
                *ngFor="let service of services"
                class="services__items_item" 
            >
                <div class="services__items_item-title">{{service.name}}</div>
                <ul class="services__items_item-list">
                    <li *ngFor="let item of service.items">{{item}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<app-contacts></app-contacts>
