<div class="hero">
    <div class="hero__container">
        <div></div>

        <div>
            <div class="hero__title">
                <span>EcoStyle</span>
                 — {{ title }}
            </div>

            <div class="hero__subtitle">
                {{ subtitle }}
            </div>
        </div>

        <div class="hero__btns">
            <button class="hero__btns_btn-request" (click)="isRequestOpen = true">
                Оставить заявку
            </button>

            <button class="hero__btns_btn-gallery" routerLink="/gallery">
                Смотреть галерею
            </button>
        </div>
    </div>

    <div class="arrows" (click)="scrollDown()">
        <img class="arrow arrow1" src="icons/down.svg" alt="">
        <img class="arrow arrow2" src="icons/down.svg" alt="">
        <img class="arrow arrow3" src="icons/down.svg" alt="">
    </div>
</div>

<app-request *ngIf="isRequestOpen" (close)="isRequestOpen = false"></app-request>

<div class="advantages">
    <div class="advantages__item">
        <img src="icons/work_history.svg" alt="">
        <div class="advantages__item_text">10+ лет опыта</div>
    </div>

    <div class="advantages__item">
        <img src="icons/construction.svg" alt="">
        <div class="advantages__item_text">профессиональное оборудование</div>
    </div>

    <div class="advantages__item">
        <img src="icons/eco.svg" alt="">
        <div class="advantages__item_text">экологичные материалы</div>
    </div>

    <div class="advantages__item">
        <img src="icons/assignment.svg" alt="">
        <div class="advantages__item_text">работает по проектам любой сложности</div>
    </div>
</div>

<div class="services">
    <div class="services__container">
        <div class="services__flex">
            <div class="services__title">Мы предлагаем следующие виды услуг:</div>

            <a routerLink="/services">
                <span class="services__link_text">смотреть больше</span>
                
                <img class="services__link_icon" src="icons/arrow_right.svg" alt="">
            </a>
        </div>

        <div class="services__items">
            <ng-container *ngFor="let service of services">
                <div 
                    class="services__items_item" 
                    (click)="service.isOpen = !service.isOpen"
                    *ngIf="service.isHome"
                >
                    <div class="services__items_item-title">{{service.title}}</div>
                    <ul class="services__items_item-list" *ngIf="service.isOpen">
                        <li *ngFor="let item of service.items">{{item.text}}</li>
                    </ul>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<div class="gallery">
    <div class="gallery__container">
        <div class="gallery__flex">
            <div class="gallery__title">Наши работы:</div>

            <div class="gallery__flex">
                <a routerLink="/gallery">
                    <span class="gallery__link_text">смотреть больше</span>
                    
                    <img class="gallery__link_icon" src="icons/arrow_right.svg" alt="">
                </a>
            </div>
        </div>

        <div class="gallery__items">
            <ng-container *ngFor="let image of images">
                <div class="gallery__items_item" *ngIf="image.isHome">
                    <img 
                        class="gallery__items_item-img" 
                        [src]="image.src" 
                    >
                    <div class="gallery__items_item-overlay" *ngIf="image.text">
                        <div class="gallery__items_item-text">{{image.text}}</div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<div class="about">
    <div class="about__container">
        <div>
            <div class="about__title">О нас:</div>

            <div class="about__text">
                <span>EcoStyle</span> - {{ about_text }}
            </div>
        </div>

        <img class="about__img" [src]="about_img" alt="">
    </div>
</div>

<div class="stages">
    <div class="stages__container">
        <div class="stages__item">
            <img src="icons/stage-phone.svg" alt="">
            <div class="stages__item_text">консультация</div>
        </div>
        
        <div class="stages__item">
            <img src="icons/stage-measuring_tape.svg" alt="">
            <div class="stages__item_text">выезд и замер</div>
        </div>

        <div class="stages__item">
            <img src="icons/stage-request_quote.svg" alt="">
            <div class="stages__item_text">смета</div>
        </div>

        <div class="stages__item">
            <img src="icons/stage-contract_edit.svg" alt="">
            <div class="stages__item_text">заключение договора</div>
        </div>

        <div class="stages__item">
            <img src="icons/stage-construction.svg" alt="">
            <div class="stages__item_text">работы</div>
        </div>

        <div class="stages__item">
            <img src="icons/stage-license.svg" alt="">
            <div class="stages__item_text">гарантия</div>
        </div>
    </div>
</div>

<div class="reviews">
    <div class="reviews__container">
        <div class="reviews__flex">
            <div class="reviews__title">Отзывы:</div>

            <button class="reviews__btn" (click)="isReviewOpen = true">
                Оставить отзыв
            </button>
        </div>

        <div class="reviews__items">
            <div 
                class="reviews__items_item" 
                *ngFor="let review of reviews" 
            >
                <div>
                    <div class="reviews__items_item-name">{{review.name}}</div>

                    <div class="reviews__items_item-text">{{review.text}}</div>
                </div>
                
                <div class="reviews__items_item-rating">
                    <ng-container *ngFor="let star of getRatingStars(review.rating)">
                        <img [src]="star.src">
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<app-review *ngIf="isReviewOpen" (close)="isReviewOpen = false"></app-review>

<div class="contacts">
    <div class="contacts__container">
        <div class="contacts__title">Контактная информация:</div>

        <div class="contacts__items">
            <div class="contacts__items_item">
                <img src="icons/contact-phone.svg">
                <a class="contacts__items_item-text" href="tel:+79624008366">
                    +7 (962) 400-83-66
                </a>
            </div>

            <div class="contacts__items_item">
                <img src="icons/contact-email.svg">
                <a class="contacts__items_item-text" href="mailto:ecostyle@gmail.com">
                    ecostyle@gmail.com
                </a>
            </div>

            <div class="contacts__items_item">
                <img src="icons/contact-insta.svg">
                <a 
                    class="contacts__items_item-text" 
                    href="https://www.instagram.com/ecostyle" 
                    target="_blank" 
                    rel="noopener noreferrer" 
                    aria-label="Instagram EcoStyle">
                    @ecostyle
                </a>
            </div>

            <div class="contacts__items_item">
                <img src="icons/contact-location.svg">
                <address class="contacts__items_item-text">г.Ставрополь</address>
            </div>
        </div>
    </div>
</div>
