.filters {
    background: #F9F6F1;
    display: flex;
    justify-content: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.08);

    &__container {
        max-width: 400px;
        width: 100%;
        padding: 30px 10px;
    }

    input {
        width: 100%;
        margin-bottom: 12px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 16px;
        color: #333333;
        border: 1px solid #333333;
        border-radius: 5px;
        outline: none;

        &:focus {
            border: 1px solid #A1C181;
        }
    }

    &__filter {
        display: flex;
        gap: 5px;

        &_btn {
            width: 41px;
            padding: 10px;
            border-radius: 5px;
            border: none;
            background: #FE7F2D;
            color: #333333;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: 0.2s;
            margin-bottom: 12px;
            box-sizing: border-box;

            &:hover {
                transform: translateY(-2px);
                background: #E96F22;
            }
        }
    }

    &__btn {
        width: 100%;
        padding: 12px;
        border-radius: 5px;
        border: 1px solid #A1C181;
        background: none;
        color: #333333;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.2s;
        margin-bottom: 10px;

        &:hover {
            transform: translateY(-2px);
            background: #A1C181;
        }

        &:disabled {
            transform: none;
            cursor: default;
            background: #F0F0F0;
        }
    }
}