<div class="bg">
<div class="production">
    <div class="production__box_cell">

        <div class="production__cell">
            <img src="./assets/images/pallmann.png" alt="pallmann" height="100px">
            <div class="line"></div>
            <p class="production__subtitle">PALLMANN</p>
        </div>

        <div class="production__cell">
            <img src="./assets/images/bona.jpg" alt="bona" height="100px">
            <div class="line"></div>
            <p class="production__subtitle">BONA</p>
        </div>

        <div class="production__cell">
            <img src="./assets/images/saicos.jpg" alt="saicos" height="100px">
            <div class="line"></div>
            <p class="production__subtitle">SAICOS</p>
        </div>

        <div class="production__cell">
            <img src="./assets/images/glimtrex.jpg" alt="glimtrex" height="100px">
            <div class="line"></div>
            <p class="production__subtitle">GLIMTREX</p>
        </div>

        <div class="production__cell">
            <img src="./assets/images/borma.png" alt="borma" height="100px">
            <div class="line"></div>
            <p class="production__subtitle">BORMA</p>
        </div>

        <div class="production__cell">
            <img src="./assets/images/sayerlack.jpg" alt="sayerlack" height="100px">
            <div class="line"></div>
            <p class="production__subtitle">SAYERLACK</p>
        </div>

        <div class="production__cell">
            <img src="./assets/images/vzin.jpg" alt="vzin" height="100px">
            <div class="line"></div>
            <p class="production__subtitle">VZIN</p>
        </div>

        <div class="production__cell">
            <img src="./assets/images/parcol.jpg" alt="parcol" height="100px">
            <div class="line"></div>
            <p class="production__subtitle">PARCOL</p>
        </div>

        <div class="production__cell">
            <img src="./assets/images/titebond.jpg" alt="titebond" height="100px">
            <div class="line"></div>
            <p class="production__subtitle">TITEBOND</p>
        </div>

    </div>
</div>
</div>